body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: rgb(91, 175, 205);      
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
               Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding-top: 6%;
}

.pfp{
    border-radius: 50%; width: 200px; height: 200px;
    margin-top: 5%;
    border: 4px solid #D4AF37;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);

}

.card{
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-inline: 30px;
    border-radius: 20px;
    border: 2px solid #000000;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.social-links {
  margin-top: 10px;
  display: flex;
  gap: 15px; 
  justify-content: center; 
   font-size: 22px;
}

.social-links a[href*="github"] { color: #333; }
.social-links a[href*="linkedin"] { color: #0077b5; }
.social-links a[href*="x.com"] { color: #000; }
.social-links a[href*="instagram"] { color: #e1306c; }

.name{
    color: #1e3c72;
}